div.logErrorCheckerResult {
	position: fixed;
    z-index: 2147483647;
	top: 8px;
	left: 8px;
	background-color: #F00;
	opacity: 1;
	cursor: pointer;
	width: fit-content;
	max-width: 90%;
	border-radius: 8px;
	padding: 4px;
}
div.logErrorCheckerResult * {
	color: #FFF;
}
div.logErrorCheckerResult__info {
	max-height: 50vh;
	overflow: auto;
}
div.logErrorCheckerResult__log {
	padding: 8px;
	margin: 8px;
	border: dotted 1px #FFF;
	font-size: 14px;
}
div.logErrorCheckerResult__log:hover {
	border: solid 1px #FFF;
}
div.logErrorCheckerResult__msg {
	font-size: 12px;
	padding: 8px;
}
